.venv/
data/
src/__pycache__/download_lung_reference_data.cpython-312.pyc
src/__pycache__/
tests/__pycache__/
external/scFoundation/model/models/*
!external/scFoundation/model/models/download.txt
Dockerfile
docker-compose.yml
